@import "tailwindcss";

@theme {
  /* تعریف رنگ‌های اختصاصی تو */
  --color-primary: #8b5cf6;
  --color-indigo-custom: #4f46e5;
  --color-bg-dark: #0f0f1a;

  /* تعریف فونت */
  --font-display: "Inter", sans-serif;
}

:root {
  --glass-bg: rgba(255, 255, 255, 0.04);
  --glass-border: rgba(139, 92, 246, 0.3);
  --glow-violet: rgba(139, 92, 246, 0.6);
  --glow-indigo: rgba(79, 70, 229, 0.5);
}
body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f1a;
  /* overflow: hidden; */
}
.orb-violet-main {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(
    circle,
    var(--glow-violet) 0%,
    rgba(15, 15, 26, 0) 70%
  );
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  filter: blur(80px);
  opacity: 0.6;
}
.orb-indigo-bottom {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    var(--glow-indigo) 0%,
    rgba(15, 15, 26, 0) 70%
  );
  bottom: -150px;
  right: -100px;
  z-index: 0;
  filter: blur(70px);
  opacity: 0.4;
}
.btn-gradient {
  background: linear-gradient(135deg, #4f46e5 0%, #8b5cf6 100%);
  box-shadow: 0 8px 25px rgba(139, 92, 246, 0.5);
}
.logo-glow-3d {
  filter: drop-shadow(0 0 25px rgba(139, 92, 246, 0.9));
}
.text-glow {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
@media mobile {
  body {
    min-height: 500dvh;
  }
}
@media desktop {
  body {
    min-height: max(884px, 100dvh);
  }
}
